<h3>Public Key</h3>
{% if node['networq:ssh:key-pair']['public-key'] %}
<code style="white-space: wrap;">{{ node['networq:ssh:key-pair']['public-key'] }}</code>
{% else %}N/A
{% endif %}

<h3>Private Key</h3>
{% if node['networq:ssh:key-pair']['private-key'] %}
<code style="white-space: wrap;">{{ node['networq:ssh:key-pair']['private-key'] }}</code>
{% else %}N/A
{% endif %}
